*{
    font-family: sans-serif;
}
body{
    margin:0;
}
#masterNav{
    position:sticky;
    top:0;
    width:100%;
    background-color: white;
    z-index:2;
}
#wrapper{
    height:40px;
    background-image: url("https://thumbs.dreamstime.com/z/abstract-background-pink-straight-lines-pink-wrapper-gift-background-texture-rectilinear-copy-space-abstract-background-pink-210056612.jpg");
    background-color: pink;
}
#offerNav{
    height:40px;
    display:flex;
    width:80%;
    justify-content: space-between;
    margin:auto;
    align-items: center;
}
#rightDiv{
    display:flex;
    font-size: 17px;
    margin-right: 30px;
}
#rightDiv>p{
    margin-right: 12px;
}
#navSearch{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#navSearch>img{
    height:70px;
    width:7%;
}
#menu{
    display: flex;
    width:50%;
    justify-content: space-around;
    font-size: 17px;
    margin-left: -50px;
    align-items: center;
}
#searchBox{
    width:15%;
    display: flex;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding:12px;
    margin-left:20px;
    justify-content: space-between;
    align-items: center;
}
#search{
    border:none;
    padding:4px auto;
    box-sizing: border-box;
    background-color: rgb(226, 224, 224);
    font-size: 17px;
    margin-left: 5px;
    width:80%;
}
#account{
    margin-left: -40px;
}
#bottomNav{
    border: 1px solid darkgrey;
    width:100%;
    background-color: white;
}
#catNav{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#catList{
    width:85%;
}
#catList>div{
    display: flex;
    justify-content: space-around;
    color: rgb(126, 124, 124);
    font-size: 14px;
}
#offImg>img{
    width:100px;
    margin-right: 20px;
}
#masterSS>img{
    width:100%;
    height:500px;
}
#masterSS>div{
    width:150px;
    margin:25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bullet{
    height: 10px;
    width:7px;
    border-radius: 50%;
    border:none;
    background-color: rgb(212, 206, 206);
}
.glow{
    margin:50px auto;
    width:73%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.glow>img{
    width:100%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px 45px;
}
.grid>div{
    text-align: center;
}
.grid>div>img{
    width:100%;
    border-radius: 5px;
}
.grid>div>h4{
    color:rgb(255, 91, 146);
    margin-top:10px;
}
.grid>div>p{
    margin-top:-10px;
    font-size: 14px;
}
.flex{
    color:rgb(255, 91, 146);
    margin-top:8px;
}
.mitems{
    width:1100px;
    border:1px solid black;
    margin: 50px auto;
    text-align: center;
}
.slider{
    width:1040px;
    height:380px;   
    border:1px solid red;   
    margin:auto;
    text-align: center;
    overflow: hidden;
    top:-20px; 
}
#imgCont{
    border:1px solid blue;
    height:380px;
    width:5150px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev{
    position:relative;
    left:-520px;
    top:190px;
}
#next{
    position:relative;
    left:520px;
    top:180px;
}
#slide1{
    float:left;
    height:380px;
    position: relative;
    border-radius: 5px;
    margin-right:10px;
}
#imgCont2{
    border:1px solid blue;
    height:380px;
    width:4450px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev2{
    position:relative;
    left:-520px;
    top:190px;
}
#next2{
    position:relative;
    left:520px;
    top:180px;
}
#slide2{
    float:left;
    height:380px;
    position: relative;
    border-radius: 5px;
    margin-right:20px;
}
#imgCont3{
    border:1px solid blue;
    height:340px;
    width:4450px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev3{
    position:relative;
    left:-520px;
    top:190px;
}
#next3{
    position:relative;
    left:520px;
    top:180px;
}
#slide3{
    float:left;
    height:340px;
    position: relative;
    border-radius: 5px;
    margin-right:20px;
}
#bottomblack{
    background-color: rgb(61, 59, 59);
    height:150px;
    color:white;
    font-size:17px;
}
#wd{
    width:75%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin:auto;
}
#wd>div>div:nth-child(2)>input{
    width:70%;
    border:none;
    background-color:rgb(61, 59, 59);
    border-bottom:2px solid white;
}
#wd>div{
    margin-top:10px;
}
#wd>div:nth-child(1){
    width:370px;
}
#wd>div>div:nth-child(2)>button{
    width:20%;
    height:30px;
    border-radius: 5px; 
    background-color:rgb(61, 59, 59);
    color: white;
}
#wd>div:nth-child(2){
    width:310px;
}
#wd>div:nth-child(3){
    width:310px;
}
#wd>div:nth-child(2)>img{
    width:45%;
}
#bottomgrey{
    background-color: rgb(123, 123, 123);
    height:300px;
    color:white;
    font-size:17px;
    padding-top:20px;
}
#bginner{
    margin: auto;
    display: flex;
    width:75%;
    text-align: left;
    font-size: 15px;
}
#bginner li{
    margin:7px auto;
}
#bginner>div>ul>li:nth-child(1){
    margin-bottom:15px;
}
#bottomwhite{
    height:130px;
    font-size:17px;
    padding-top:20px;
}
#bwinner{
    margin: auto;
    display: flex;
    width:75%;
    text-align: left;
    font-size: 15px;
    justify-content: space-around;
}
.fa-truck-droplet,
.fa-rotate-left,
.fa-certificate,
.fa-tags{
    color:rgb(243, 59, 139);
    font-size: 25px;
}
#bottompink{
    background-color: rgb(243, 59, 139);
    height:70px;
}
#bottompink>div{
    width:50%;
    margin: auto;
    display:flex;
    justify-content: space-around;
}
.mdata{
    width:1100px;
    border:1px solid black;
    margin: 50px auto;
    text-align: center;
}
.dataslider{
    width:1040px;
    height:420px;   
    border:1px solid red;   
    margin:auto;
    text-align: center;
    overflow: hidden;
    top:-20px; 
}
#dataContls{
    border:1px solid blue;
    height:420px;
    width:5150px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prevls{
    position:relative;
    left:-520px;
    top:190px;
}
#nextls{
    position:relative;
    left:520px;
    top:180px;
}
#slidels{
    float:left;
    position: relative;
    width:250px;
    border-radius: 5px;
    margin-right:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#slidels>img{
    width:100%;
    height:220px;
    border:1px solid green;
}
#dataContkc{
    border:1px solid blue;
    height:420px;
    width:5150px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prevkc{
    position:relative;
    left:-520px;
    top:190px;
}
#nextkc{
    position:relative;
    left:520px;
    top:180px;
}
#slidekc{
    float:left;
    position: relative;
    width:250px;
    border-radius: 5px;
    margin-right:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#slidekc>img{
    width:100%;
    height:240px;
    border:1px solid green;
}
#dataContfmh{
    border:1px solid blue;
    height:420px;
    width:5150px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prevfmh{
    position:relative;
    left:-520px;
    top:190px;
}
#nextfmh{
    position:relative;
    left:520px;
    top:180px;
}
#slidefmh{
    float:left;
    position: relative;
    width:250px;
    border-radius: 5px;
    margin-right:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#slidefmh>img{
    width:100%;
    height:230px;
    border:1px solid green;
}
.dd{
    position: relative;
    display: inline-block;
}
.ddContent{
    border-radius: 10px;
    background-color: white;
    color: rgb(163, 161, 161);
    font-size: 14px;
    width:1200px;
    display:none;
    position:absolute;
    top:49px;
    z-index:1;
}
.ddContent>div{
    width:17%;
    text-align: left; 
    padding-left: 10px;
    padding-bottom: 30px;  
}
.ddContent>div:nth-child(odd){
    background-color: white;
}
.ddContent>div:nth-child(even){
    background-color: rgb(218, 218, 218);
}
.dd:hover{
    border-bottom: 3px solid rgb(226, 79, 136);
    cursor: pointer;
    color:rgb(226, 79, 136);
    text-decoration: underline;
}
.ddContent p:hover{
    color:rgb(226, 79, 136);
    text-decoration: underline;
}
.dd:nth-child(1):hover .ddContent{
    display:flex;
    left:-10px;
}
.dd:nth-child(2):hover .ddContent{
    display:flex;
    left:-90px;
}
.dd:nth-child(3):hover .ddContent{
    display:flex;
    left:-150px;
}
.dd:nth-child(4):hover .ddContent{
    display:flex;
    left:-210px;
}
.dd:nth-child(5):hover .ddContent{
    display:flex;
    left:-320px;
}
.ddu{
    position: relative;
    display: inline-block;
    height:65px;
}
.dduContent{
    color: rgb(163, 161, 161);
    position:absolute;
    top:66px;
    left:-135px;
    z-index:1;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
}
.btnmenu{
    justify-content: space-evenly;
    width:1000px;
    display:none;
}
.btndiv{
    position: relative;
    display: inline-block;
    margin-top:20px;
    margin-bottom:20px;
}
.btncontent{
    border-radius: 10px;
    width:1000px;
    position:absolute;
    z-index:1;
    padding-bottom: 20px;
    padding-top: 20px;  
    background-color: rgb(233, 229, 229);
    display:grid;
    grid-template-columns: repeat(4,1fr);
    display:none;
}
.btncontent>div{
    text-align: center;  
}
.btncontent>div>img{
    height:70px;
}
.btnhover{
    height:35px;
    width:150px;
    border:none;
    background-color: rgb(181, 180, 180);
    font-weight: bold;
}
.dduhover:hover{
    cursor: pointer;
    color:rgb(226, 79, 136);
    text-decoration: underline;
}
.ddu:hover .btnmenu{
    display:flex;
    cursor: pointer;
}
.btndiv:hover .btnhover{
    background-color: rgb(226, 79, 136);
    color:white;
    cursor: pointer;
}
.btndiv:nth-child(1):hover .btncontent{
    display:grid;
    grid-template-columns: repeat(4,1fr); 
    left:-80px;
    cursor: pointer;
}
.btndiv:nth-child(2):hover .btncontent{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    left:-310px;
    cursor: pointer; 
}
.btndiv:nth-child(3):hover .btncontent{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    left:-540px;
    cursor: pointer;    
}
.btndiv:nth-child(4):hover .btncontent{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    left:-770px; 
    cursor: pointer;
}