*{
    font-family: sans-serif;
}
body{
    margin:0;
}

#wrapper{
    height:40px;
    background-image: url("https://thumbs.dreamstime.com/z/abstract-background-pink-straight-lines-pink-wrapper-gift-background-texture-rectilinear-copy-space-abstract-background-pink-210056612.jpg");
    background-color: pink;
}
#offerNav{
    height:40px;
    display:flex;
    width:80%;
    justify-content: space-between;
    margin:auto;
    align-items: center;
}
#rightDiv{
    display:flex;
    font-size: 17px;
    margin-right: 30px;
}
#rightDiv>p{
    margin-right: 12px;
}
#navSearch{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#navSearch>img{
    height:70px;
    width:7%;
}
#menu{
    display: flex;
    width:50%;
    justify-content: space-around;
    font-size: 17px;
    margin-left: -50px;
}
#searchBox{
    width:15%;
    display: flex;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding:12px;
    margin-left:20px;
    justify-content: space-between;
    align-items: center;
}
#search{
    border:none;
    padding:4px auto;
    box-sizing: border-box;
    background-color: rgb(226, 224, 224);
    font-size: 15px;
    margin-left: 5px;
    width:80%;
}
#account{
    margin-left: -40px;
}
#bottomNav{
    border: 1px solid darkgrey;
}
#catNav{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#catList{
    width:85%;
}
#catList>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: rgb(126, 124, 124);
    margin-left: -20px;
    font-size: 14px;
}
#offImg>img{
    width:100px;
    margin-right: 20px;
}
#masterSS>img{
    width:100%;
    height:500px;
}
#masterSS>div{
    width:150px;
    margin:25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bullet{
    height: 10px;
    width:7px;
    border-radius: 50%;
    border:none;
    background-color: rgb(212, 206, 206);
}
.glow{
    margin:50px auto;
    width:73%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.glow>img{
    width:100%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px 45px;
}
.grid>div{
    text-align: center;
}
.grid>div>img{
    width:100%;
    border-radius: 5px;
}
.grid>div>h4{
    color:rgb(255, 91, 146);
    margin-top:10px;
}
.grid>div>p{
    margin-top:-10px;
    font-size: 14px;
}
.flex{
    color:rgb(255, 91, 146);
    margin-top:8px;
}
.mitems{
    width:1100px;
    border:1px solid black;
    margin: auto;
    text-align: center;
}
.slider{
    width:1040px;
    height:380px;   
    border:1px solid red;   
    margin:auto;
    text-align: center;
    overflow: hidden;
    position:relative;
    top:-20px;   
}
#imgCont{
    border:1px solid blue;
    height:380px;
    width:5150px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev{
    position:relative;
    left:-520px;
    top:190px;
}
#next{
    position:relative;
    left:520px;
    top:180px;
}
#slide1{
    float:left;
    height:380px;
    position: relative;
    border-radius: 5px;
    margin-right:10px;
}
#imgCont2{
    border:1px solid blue;
    height:380px;
    width:4450px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev2{
    position:relative;
    left:-520px;
    top:190px;
}
#next2{
    position:relative;
    left:520px;
    top:180px;
}
#slide2{
    float:left;
    height:380px;
    position: relative;
    border-radius: 5px;
    margin-right:20px;
}
#imgCont3{
    border:1px solid blue;
    height:340px;
    width:4450px;
    clear:both;
    position: relative;
    transition:left 1s;
}
#prev3{
    position:relative;
    left:-520px;
    top:190px;
}
#next3{
    position:relative;
    left:520px;
    top:180px;
}
#slide3{
    float:left;
    height:340px;
    position: relative;
    border-radius: 5px;
    margin-right:20px;
}
#bottomblack{
    background-color: rgb(61, 59, 59);
    height:150px;
    color:white;
    font-size:17px;
}
#wd{
    width:75%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin:auto;
}
#wd>div>div:nth-child(2)>input{
    width:70%;
    border:none;
    background-color:rgb(61, 59, 59);
    border-bottom:2px solid white;
}
#wd>div{
    margin-top:10px;
}
#wd>div:nth-child(1){
    width:370px;
}
#wd>div>div:nth-child(2)>button{
    width:20%;
    height:30px;
    border-radius: 5px; 
    background-color:rgb(61, 59, 59);
    color: white;
}
#wd>div:nth-child(2){
    width:310px;
}
#wd>div:nth-child(3){
    width:310px;
}
#wd>div:nth-child(2)>img{
    width:45%;
}
#bottomgrey{
    background-color: rgb(123, 123, 123);
    height:300px;
    color:white;
    font-size:17px;
    padding-top:20px;
}
#bginner{
    margin: auto;
    display: flex;
    width:75%;
    text-align: left;
    font-size: 15px;
}
#bginner li{
    margin:7px auto;
}
#bginner>div>ul>li:nth-child(1){
    margin-bottom:15px;
}
#bottomwhite{
    height:130px;
    font-size:17px;
    padding-top:20px;
}
#bwinner{
    margin: auto;
    display: flex;
    width:75%;
    text-align: left;
    font-size: 15px;
    justify-content: space-around;
}
.fa-truck-droplet,
.fa-rotate-left,
.fa-certificate,
.fa-tags{
    color:rgb(243, 59, 139);
    font-size: 25px;
}
#bottompink{
    background-color: rgb(243, 59, 139);
    height:70px;
}
#bottompink>div{
    width:50%;
    margin: auto;
    display:flex;
    justify-content: space-around;
}
